#logo{
position:relative;
height: 60px;
width: 60px;
top:-20px;
left:-20%;
}

#body-content{
	margin-left:25px;
}
#body-content1{
	margin-left:25px;
}
/*
#menu-toggle{
position:relative;
top:10px;
left:-70%;
}*/
.container-fluid{
background-color:#eee;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
margin:2%;
padding:20px;
}
.each{
padding-bottom:10px;
}
#basicModal{
left:50%;
overflow:visible;

}
